/* SidebarLayout.css */

.sidebar-layout {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
}

/* Sidebar */
.sidebar {
  width: 270px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* Header */
.sidebar-header {
  padding: 1.3rem;
  border-bottom: 1px solid #f3f4f6;
  align-items: ceneter;
  gap: 1rem;
}

.logo-beconn {
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(100deg, #1f4cbd, #d1bd95); /* 왼쪽에서 오른쪽으로 그라데이션 */
  -webkit-background-clip: text;  /* 텍스트에만 배경 적용 */
  background-clip: text; /* 표준 속성 */
  -webkit-text-fill-color: transparent; /* 글자 색을 투명 처리 */
  color: transparent; /* 표준 속성 */
  display: inline-block; /* 필요시 inline-block으로 처리 */
  margin-left: 1rem;
  text-align: center; 
}

.user-info {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  margin-bottom: 1.2rem;
}

.user-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon {
  width: 2rem;
  height: 2rem;
  color: #4b5563;
}

.settings-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #3b82f6;
}

.user-name {
  font-size: 1.8rem;
  font-weight: 600;
  color: #111827;
  text-align: center; 
  margin-left: -2rem;
  
}

/* Menu Items */
.menu-items {
  flex: 1;
  padding: 1rem 0.75rem;
  overflow-y: auto;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.625rem 0.75rem;
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #4b5563;
  transition: all 0.2s;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #eff6ff;
  color: #2563eb;
}

.menu-item.active {
  background-color: #3b82f6;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.menu-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: #9ca3af;
  flex-shrink: 0;
}

.menu-item:hover .menu-icon {
  color: #3b82f6;
}

.menu-item.active .menu-icon {
  color: white;
}

.menu-label {
  font-size: 1rem;
  font-weight: 500;
  flex: 2;
}

.menu-arrow {
  width: 1rem;
  height: 1rem;
  color: #d1d5db;
  flex-shrink: 0;
}

.menu-item.active .menu-arrow {
  color: white;
}

/* Logout */
.sidebar-footer {
  padding: 1rem;
  border-top: 1px solid #f3f4f6;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #6b7280;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0;
}

.logout-btn:hover {
  color: #374151;
}

.logout-icon {
  width: 1rem;
  height: 1rem;
}

/* Main Content */
.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}